body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h2 {
    text-align: center;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #3498db;
    color: #fff;
}

#formulario {
    max-width: 800px; 
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
    border-radius: 10px; 
}

label {
    display: block;
    margin-bottom: 10px;
}

input, textarea, select {
    width: 100%;
    padding: 10px; 
    margin-bottom: 20px; 
    box-sizing: border-box;
    border: 1px solid #ccc; 
    border-radius: 5px; 
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 12px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 15px; 
    background-color: #333;
    color: #fff;
}


#labelOpcionesCondicionadas, #opcionesCondicionadas {
    margin-top: 15px; 
}
